/* General Styles */
.quiz-container {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  gap: 2rem;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Container for the Quiz */
.quiz-container {
  background-color: white;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

/* Styling the options */
ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #f0f0f5;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #e2e2e8;
}

.selected {
  background-color: #4caf50;
  color: white;
}

/* Next button */
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #45a049;
}

/* Score Screen */
.score {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
}
